<div
  class="p-1 gap-0.5 md:py-4 md:px-6 border rounded-lg flex flex-col items-center justify-center md:gap-2 mb-2 min-h-[320px]">
  <img src="{{product.image}}" alt="" class="w-1/6 mb-2">
  <h2 class="mb-2 text-lg text-center font-medium">{{product.title}}</h2>
  <p>Price: <span class="font-bold">{{product.price | currency}}</span></p>

  <button
    class="border py-2 px-4 rounded"
    (click)="details = !details"
    [ngClass]="{
      'bg-blue-500': details,
      'bg-yellow-500': !details
    }"
  >
    {{details ? "Hide Details" : "Show Details"}}
  </button>

  <div *ngIf="details">
    <p>&emsp;{{product.description}}</p>
    <p>Rating: <span class="font-bold">{{product.rating.rate | number: '1.2'}}</span></p>
  </div>

</div>
